.friend-item,
.user-item {
  display: flex;
  margin: 20px;
  padding: 20px;
  border: 1px solid gray;
  justify-content: space-between;
}

.content {
  text-align: center;
}

.friends-search-input {
  width: 60%;
  padding: 5px;
  margin: 10px 0;
}