.nav-link {
  // margin: 8px;
  padding: 20px 40px;
  color: #fff;
  background-color: rgba(7, 7, 87, 0.719);
  text-decoration: none;
  border-radius: 0px;
}
a.active {
  background-color: rgb(79, 153, 238);
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.header {
  display: flex;
  align-items: center;
  // box-shadow: 5px 5px 5px grey;
}

.header-logo {
  width: 40px;
  height: auto;
  display: flex;
}

// .header-logo-link {
// }