<header class="header" *ngIf="isLoggedIn">
  <a href="#" class="header-logo-link">
    <img class="header-logo" [src]="logoSrc">
  </a>
  <nav class="navigation">
    <ul class="navbar">
      <li class="nav-item">
        <a class="nav-link" routerLink="/games" routerLinkActive="active">Games</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/library" routerLinkActive="active">Library</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/friends" routerLinkActive="active">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profile</a>
      </li>
    </ul>
  </nav>
</header>
