<ng-container *ngIf="!isLoggedIn">
  <h2>Sign In</h2>
  <form [formGroup]="loginForm" (submit)="submit()" #f="ngForm">
    <input type="email" placeholder="Email" formControlName="email">
    <input type="password" placeholder="Password" formControlName="password">
    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
    <div class="alert-danger" *ngIf="f.submitted && isLoginFailed">
      Login failed: {{ errorMessage }}
    </div>
    <div class="alert-success" *ngIf="f.submitted && isLoggedIn">
      Logged in successfully
    </div>
  </form>
</ng-container>
