input {
  display: block;
  padding: 5px;
  margin: 5px 0;
}

.alert-danger {
  color: red;
}

.alert-success {
  color: green;
}

.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

form {
  margin: auto;
}