<div class="content">
  <h2 class="games-header">Games</h2>
  <div class="games-search">
    <input type="text" class="games-search-input" placeholder="Search Games" [(ngModel)]=searchGame>
  </div>
  <div class="games-filters">
    <label class="filter-label" for="pricerange">Filter by price</label>
    <input type="range" min={{minPrice}} max={{maxPrice}} step="1" [(ngModel)]="maxVal" id="pricerange"> {{maxVal}}
    <div class="filter-label" for="tag-filter">Filter by tag</div>
    <div class="tags-container" *ngIf="tags$ | async as tags">
      <div class="tag-item" *ngFor="let tag of tags; let i=index">
        <input type="checkbox" value={{tag.name}} id={{tag.name}} name={{tag.name}}
          (change)="updateTagArray($event, tag)" [(ngModel)]="tag.selected">
        <label class="checkbox-label" for={{tag.name}}>{{tag.name}}</label>
      </div>
    </div>
  </div>
  
  <h2>Featured games</h2>
  <div class="games-container" *ngIf="games$ | async as games">
    <ng-container *ngIf="(games
      | priceRange: minPrice : maxVal
      | tagFilter: selectedTagsArray
      | searchFilter: searchGame : getName) as result">
        <div class="game-item" *ngFor="let game of result">
          <steam-game-item [gameItem]="game"></steam-game-item>
          <ng-container *ngIf="!isGameInLibrary(game._id)">
            <button type="button" (click)="addToLibrary(game._id)">Add to Library</button>
          </ng-container>
          <ng-container *ngIf="isGameInLibrary(game._id)">
            <button type="button" (click)="removeFromLibrary(game._id)">Remove from Library</button>
          </ng-container>
      </div>
    <div *ngIf="!result.length">No matches</div>
    </ng-container>
  </div>
</div>

