.game-container {
  display: flex;
  flex-direction: row;
}

.filter-label {
  display: block;
  margin: 10px 0;
}

.games-search-input {
  width: 60%;
  padding: 5px;
  margin: 10px 0;
}

.games-header,
.games-search {
  text-align: center;
}