<div class="content">
  <h2>Games</h2>
  <div class="">
    <input type="text" class="" placeholder="Search Games" [(ngModel)] = searchGame>
  </div>
  <h2>Featured games</h2>
  <div class="games-container" *ngIf="games$ | async as games">
    <div class="game-item" *ngFor="let game of games | searchFilter: searchGame : getName">
      <h3>{{game.name}}</h3>
      <p>{{game.price}}</p>
      <p>{{game.description}}</p>
      <p>{{game.tags}}</p>
      <ng-container *ngIf="!isGameInLibrary(game._id)">
        <button type="button" (click)="addToLibrary(game._id)">Add to Library</button>
      </ng-container>
      <ng-container *ngIf="isGameInLibrary(game._id)">
        <button type="button" (click)="removeFromLibrary(game._id)">Remove from Library</button>
      </ng-container>
    </div>
  </div>
</div>

